.container {
  width: 350px;
  height: 100vh;
  margin: 0;
  background-color: #53a856;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.clickable{
    width: 280px;
    height: 60px;
    background-color: #EFEFEF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
